.services {
  min-width: 100%;
  height: 790px;
  background-color: #70bfff;

  @include laptop {
    height: 650px;
  }

  @include tablet {
    height: auto;
  }

  @include mobile {
    height: auto;
  }

  &__box {
    width: 100%;
  }

  // .services__img

  &__img {
    min-width: 50%;
    float: right;
    padding-top: 7.32%;
    padding-left: 5%;

    @include laptop {
      float: initial;
      display: none;
    }

    @include tablet {
      float: initial;
      display: none;
    }

    @include mobile {
      float: initial;
      display: none;
    }
  }

  // .services__tittle--white

  &__tittle--white {
    color: white;
    position: relative;
    width: 50%;
    bottom: 280px;
    left: 50%;
    line-height: 70px;

    @include laptop {
      width: 100%;
      left: 0;
      text-align: center;
      bottom: 70px;
    }

    @include tablet {
      width: 100%;
      left: 0;
      text-align: center;
      bottom: 560px;
      font-size: 46px;
    }

    @include mobile {
      width: 100%;
      left: 0;
      text-align: center;
      bottom: 540px;
      font-size: 46px;
    }
  }
}

.menu {
  width: 50%;
  float: left;
  padding-left: 16.8%;
  padding-top: 11.32%;

  @include laptop {
    width: 100%;
    padding-top: 100px;
  }

  @include tablet {
    width: 100%;
    padding-top: 150px;
  }

  @include mobile {
    width: 100%;
    padding-top: 150px;
  }

  &--width {
    width: 76%;
    height: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    margin-top: 2.5%;
    cursor: pointer;
  }

  @include laptop {
    height: 70px;
  }

  &--width:hover {
    background-color: #70bfff;
  }

  &__item {
    color: #262626;
    font-family: Raleway-Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    width: 80%;
    float: left;
    text-align: center;
    padding-top: 9%;

    @include laptop {
      padding-top: 5%;
    }

    @include mobile {
      width: 70%;
      font-size: 16px;
      padding-top: 11%;
    }
  }
}

.icon {
  width: 20%;
  font-size: 47px;
  float: right;
  padding-top: 5%;

  @include mobile {
    width: 30%;
    font-size: 40px;
    padding-right: 25px;
    padding-top: 15%;
  }
}
