.btn {
    width: 100px;
    height: 80px;
    border: 1px solid black;
    color: white;
    background-color: rgb(101, 101, 240);
    opacity: 0.9;
    text-decoration: none;
}

.btn__open {
    display: block;
}

.btn__close {
}

.box {
    border: 1px solid black;
    height: 300px;
    width: 300px;
    display: none;
    text-align: center;
    background-color: rgb(223, 189, 255);
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.btn__next {

}