* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    max-width: 1600px;
    height: 1600px;
    background-color: #e2e7ec;
}

.header-wrapp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block-1 {
    margin-top: 71px;
    margin-left: 240px;
    width: 740px;
    height: 540px;
    background-image:linear-gradient(to bottom, rgba(209, 191, 191, 0.1), rgb(59, 59, 59) ),url("/2/images/1.png");
    align-items: flex-end;
}

.data {
    width: 132px;
    height: 13px;
    opacity: 0.6;
    color: white
    font-family: "Hans Kendrick";
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 404px;
    margin-left: 46px;
}

.info1{
    margin-left: 45px;
    color: white;
    letter-spacing: 0.75px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.block-2 {
    margin-left: 20px;
    margin-top: 71px;
    width: 360px;
    height: 540px;
    background-color: #ffffff;
}

.data2 {
    opacity: 0.5;
    color: white
    font-family: "Hans Kendrick";
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 28px;
    margin-left: 28px;
}

.info2 {
    color: #1d1d1d;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.55px;
    margin: 27px;
}

.page-wrapp {
    display: flex;
}

.block-3 {
    width: 360px;
    height: 540px;
    background-color: #ffffff;
    margin-left: 240px;
    margin-top: 20px;
}

.block-4 {
    margin-left: 20px;
    width: 360px;
    height: 540px;
    background-color: #ffffff;
    margin-top: 20px;
}

.block-5 {
    margin-top: 20px;
    margin-left: 20px;
    width: 360px;
    height: 540px;
    background-color: #ffffff;
}

.mini {
    margin-left: 28px;

}

.mini1 {
    margin-top: 55px;
    margin-left: 28px;
}

.footer {
    text-align: center;
    margin-top: 87px;
}

.footer p {
    color: #99a5b0;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.33px;
}