@font-face {
  font-family: "Pacifico";
  src: url(./assets/font/Pacifico-Regular.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(./assets/font/Raleway-Light.ttf);
}

@font-face {
  font-family: "Raleway - Heavy";
  src: url(./assets/font/Raleway-Heavy.ttf);
}

@font-face {
  font-family: Raleway-Bold;
  src: url(./assets/font/Raleway-Bold.ttf);
}

@font-face {
  font-family: "icomoon";
  src: url("./assets/font/icomoon.eot?s3l7kg");
  src: url("./assets/font/icomoon.eot?s3l7kg#iefix") format("embedded-opentype"),
    url("./assets/font/icomoon.ttf?s3l7kg") format("truetype"),
    url("./assets/font/icomoon.woff?s3l7kg") format("woff"),
    url("./assets/font/icomoon.svg?s3l7kg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e900";
}
.icon-2:before {
  content: "\e901";
}
.icon-3:before {
  content: "\e902";
}
.icon-4:before {
  content: "\e903";
}
