@font-face {
  font-family: "Museo Sans Rounded";
  src: local("Museo Sans Rounded 100"), local("Museo-Sans-Rounded-100"), url("/assets/fonts/MuseoSansRounded-100/MuseoSansRounded-100.woff2") format("woff2"), url("/assets/fonts/MuseoSansRounded-100/MuseoSansRounded-100.woff") format("woff"), url("/assets/fonts/MuseoSansRounded-100/MuseoSansRounded-100.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Museo Sans Rounded";
}

.wrapper {
  width: 100%;
  margin-top: 12.5%;
}

.nike {
  margin: 0 auto;
  width: 44%;
  height: 391px;
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.82);
  border-radius: 10px;
  background-color: #111a28;
}

.snikers {
  width: 60%;
  float: left;
}
.snikers__logo {
  padding-left: 21px;
  padding-top: 24px;
}
.snikers__sales {
  padding-top: 69px;
  padding-left: 36px;
}

.description {
  width: 40%;
  float: right;
}
.description__tittle {
  padding-top: 78px;
}
.description__tittle--white-txt {
  width: 160px;
  color: #e1e1e1;
  font-family: "Museo Sans Rounded";
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.48px;
}
.description__subtittle {
  padding-top: 8px;
}
.description__subtittle--opacity-txt {
  opacity: 0.54;
  color: #e1e1e1;
  font-family: "Museo Sans Rounded";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.28px;
}
.description__rating {
  padding-top: 16px;
}
.description__form {
  padding-top: 16px;
}

.form__size {
  color: #e1e1e1;
  font-family: "Museo Sans Rounded";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.28px;
  cursor: pointer;
}
.form__qty {
  color: #e1e1e1;
  font-family: "Museo Sans Rounded";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.28px;
  cursor: pointer;
}
.form__btn {
  margin-top: 24px;
  width: 184px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: #4c525a;
  opacity: 0.26;
  color: #e1e1e1;
  font-family: "Museo Sans Rounded";
  cursor: pointer;
}
.form__btn--white {
  color: #e1e1e1;
  font-family: "Museo Sans Rounded";
}

.select {
  width: 69px;
  height: 32px;
  border: 1px solid #ffffff;
  background-color: #111a28;
  opacity: 0.26;
  color: #e1e1e1;
  font-family: "Museo Sans Rounded";
}

.checked {
  color: orange;
}